*{
    margin: 0;
    padding: 0;
    outline: none;   
}

html{height:100%;}

body{
    width: 100%;
    height: 100%;
    color: #333333;
    background: #fff6f4;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 135%;
}

a{
    color:graytext ;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition:  all.6s ease;
}

a:hover{
    color:blue;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition:  all.6s ease;
}

a:active{color: red;}

img{
    max-width: 100%;
    height:auto;
    width: auto\9; /*for IE*/
}

hr{
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid #ccc;
    padding: 0;
}

.right{float: right}
.left{float: left}
.clear{clear: both}

/*selection block*/

::selection {background: green; color:wheat}
::-moz-selection {background: green; color:wheat}



header, footer{
    width: 98%;
    background-color: white;  
    float: left;
    }
    header{
        border-bottom: 2px solid silver;
        padding: 1%;
    }
    
    #logo{
        font-size:2em;
        font-family: Comic Sans MS, sans-serif;
    }
    
    #about{
        font-size:1.5em;
        font-family: Comic Sans MS, sans-serif;
        margin-left: 20px;       
    }
    
    #contact{
        font-size: 1.5em;
        font-family: Comic Sans MS, sans-serif;
        margin-left: 10px;
    }
    
    input[type=text].field{
        border-radius: 5px;
        border: 2px solid silver;
        padding: 5px;
        margin-left: 20px;
    }
    
    input[type=text].field:focus{
        border: 2px solid blue;
    }
    
    #menu{
        color: #666666;
        font-family: Comic Sans MS, sans-serif;
        font-size: 1.7em;
    }
    
    #menuHrefs{
        float: right;
        margin-right: 2%;
    }
    
    #menu hr{
        width: 500px;
        max-width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    /*Основные стили для сайта*/
    
    #wrapper{
        float:left;
        width: 100%; 
        margin-top: 20px;       
    }
    
    #wrapper #articles{
        float: left;
        width: 80%;
        margin-left: 10%;
    }
    
    #wrapper #articles article{
        float: left;
        width: 31.33333%;
        border: 1px solid silver;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fafafa;
        margin-right: 2%;
        min-height: 400px;
        
    }
    
    #wrapper #articles article img{
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0px 0px;
        border-bottom: 1px solid silver;
        margin-bottom: 10px;
    }
    
    #wrapper #articles article h2{
        width: 90%;
        margin-left: 5%;
        font-weight: normal;
        font-size: 1.7em;
        color: #000099;
    }
    
    #wrapper #articles article p{
      width: 80%;
      margin-left: 1%;
      margin-top: 2%;   
      margin-bottom: 10px;
     font-family: cursive;
     font-size: 1.7em;
     color: #006666; 
     line-height: 110%;
     text-indent: 0em;
    }
    
    #wrapper #articles article a{
        padding: 1%;
        background-color: #006666; 
        border-radius: 5%; 
        margin-bottom: 5px;        
    }
    
    #wrapper #articles article a:hover{
        background-color: #003333;
        color: #fafafa;
    }
    
    /*Стили для странички о нас*/
    
    #about-us{
        width: 50%;
        float: left;
        background-color: #fafafa;
        border-radius: 5px;
        border: 1px solid silver;
        box-sizing: border-box;
        padding: 1%;
        height: 400px;
    }
    
    #columnRight{
        width: 30%;
        float: left;
        margin-left: 5%;
        background-color: #fafafa;
        border-radius: 5px;
        border: 1px solid silver;
        box-sizing: border-box;
        padding: 1%;
        height: 400px;  
    }
    
    /*Стили для формы*/
    
    form{
        width: 60%;
        margin-left: 20%;
        float: left;
    }
    
    form label{
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    
    form input{
        border-radius: 5px;
        border: 2px solid silver;
        padding: 5px;
        margin-left: 20px;
        float: left;
        clear: both;
        width: 40%;
        margin-bottom: 10px;
    }
    
    form input:focus form textArea:focus{
        border: 2px solid #ffff99;
    }
    
    form textArea{
        width: 60;
        float: left;
        clear: both;
        background-color: #fafafa;
        border: 2px solid silver;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.7em;
    }
    
    form #send{
        float: left;
        padding: 10px;
        background-color: green;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 2em;
        color: #fafafa;
        cursor: pointer;        
    }
    
    form #send:hover{
        background-color: greenyellow;
    }
    
    
    /*Центральный блок нашего сайта*/
    
    #main-soc-block{
        width: 100%;
        height: 128px;
        padding: 0;
        border-top: 2px solid silver;
        border-bottom: 2px solid silver;
        margin: 20px 0;
        float: left;
        background: url('../images/VK.png');
    }
    
    #main-soc-block-in  {
        text-align: center;
        padding: 1%;
        height: 100px;
        background-color: #ffff99;
        border: 1px solid silver;
        border-radius: 7px;
        width: 500px;  
        line-height: 200%;
    }
    #main-soc-block-in h3{
        color: #ff99ff;
    }
    
    #main-soc-block-in p{
        font-family: Comic Sans MS, sans-serif;
        color: #cc00cc;
        
    }
    
    #main-soc-block-in a{
        float: left;
        margin-left: 30%;
        padding: 5px;
        background-color: aqua;
        border-radius: 10px;
    }

    
    /*Стили для футера*/
    
    footer{
        padding: 1%;
        border-top: 2px solid silver;
        margin-top: 10px;
        padding-bottom: 2%; 
    }
    
    footer img{
        width: 20%;
        float: left;
        margin-right: 10px;
    }

    #page-wrap:after{
        content: "";
        display: block;
    }
    
    footer, #page-wrap {height: 10px}
    
    #page-wrap{
        min-height: 90%;
        margin-bottom: -10px;
    }